---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Danke für Ihre Nachricht">
  <section class="wrap" style="padding-top:4rem; text-align:center;">
    <h1>Vielen Dank!</h1>
    <p>Ihre Nachricht wurde verschickt. Wir melden uns so schnell wie möglich bei Ihnen.</p>
    <a class="btn" href="/">Zurück zur Startseite</a>
  </section>
</Layout>
